*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    font-family: ;
}

    button{
    background-color: purple;
    border-radius: 15px;
    width: 3cm;
    height: 1cm;
    border-top: purple;
    box-shadow: 0px 5px 15px black;
}
button>a{
text-decoration: none;
font-weight: 700;
color: white;
}
